section.first-banners 
  .container.first-banners__container
    +firstBunnerItem('Womens`s Mis-Season', require('../../assets/img/midseason.jpg').default)
    +firstBunnerItem('Summer Romance', require('../../assets/img/summer.jpg').default)
    +firstBunnerItem('20% Of All Accesories', require('../../assets/img/accs.jpg').default)
