section.hero
  h1.visually-hidden Zonex - best shop!
  .hero__swiper.hero-swiper 
    .hero-swiper__wrapper.swiper-wrapper
      .hero-swiper__slide.swiper-slide
        .hero-swiper__left
          h2.hero-swiper__title Fall-Winter Clearance Sales
          p.hero-swiper__descr All Sale Items are Final Sale / Free Shipping on All Orders
        .hero-swiper__right
          img.hero-swiper__img(src=require('../../assets/img/girl.png').default, alt="")
      .hero-swiper__slide.swiper-slide
        .hero-swiper__left
          h2.hero-swiper__title Fall-Winter Clearance Sales
          p.hero-swiper__descr All Sale Items are Final Sale / Free Shipping on All Orders
        .hero-swiper__right
          img.hero-swiper__img(src=require('../../assets/img/girl.png').default, alt="")
      .hero-swiper__slide.swiper-slide
        .hero-swiper__left
          h2.hero-swiper__title Fall-Winter Clearance Sales
          p.hero-swiper__descr All Sale Items are Final Sale / Free Shipping on All Orders
        .hero-swiper__right
          img.hero-swiper__img(src=require('../../assets/img/girl.png').default, alt="")
    .hero-swiper__pagintation.swiper-pagination
