:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-text-main: #151515;
  --color-text-second: #454545;
  --color-text-gray: #858585;
  --color-bg: #e5e5e3;
  --color-hero-bg: #d9d9d7;
}
